<% content_for :title, t(:sign_in_nu).capitalize %>  
<div id="admin_wrapper">
  <%= form_for :session, :url => session_path do |form| %>
    <div class="text_field">
      <%= form.label :email %>
      <%= form.text_field :email, :type => "email" %>
    </div>
    <div class="text_field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>
    <div class="submit_field">
      <%= form.submit t(:ok).capitalize, :disable_with => t(:please_wait).capitalize, :class => "button" %>
    </div>
  <% end %>
  <br />
  <%= link_to t(:sign_up_nu).capitalize, sign_up_path %><br />
  <%= link_to t(:forgot_password), new_password_path %>
</div>

<% if false %>
  <%= render :partial => '/sessions/form' %>

  <ul>
    <li>
      <%= link_to "Sign up", sign_up_path %>
    </li>
    <li>
      <%= link_to "Forgot password?", new_password_path %>
    </li>
  </ul>
<% end %>
