<h2><%= t(:change_password).capitalize %></h2>

<p>
  <%= t(:password_reset) %>
</p>

<%= error_messages_for :user %>

<% form_for(:user,
            :url => user_password_path(@user, :token => @user.confirmation_token),
            :html => { :method => :put }) do |form| %>
  <div class="password_field">
    <%= form.label :password, t(:choose_password).capitalize %>
    <%= form.password_field :password %>
  </div>
  <div class="password_field">
    <%= form.label :password_confirmation, t(:confirm_password).capitalize %>
    <%= form.password_field :password_confirmation %>
  </div>
  <br />
  <div class="submit_field">
    <%= form.submit t(:save_password).capitalize, :disable_with => t(:please_wait).capitalize %>
  </div>
<% end %>
